// Import page-specific CSS files here.
@import "home";

.index-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .index-carte {
    background-image: url('mapbox.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  .index-container {
    grid-template-columns: 1fr;
  }
}
