<footer class="mt-5">
  <div class="link">
    <a href=""><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fab fa-twitter-square"></i></a>
    <a href=""><i class="fab fa-facebook-square"></i></a>
    <p>Pets Never Die, la garantie d'une expérience unique sans limite</p>
  </div>
</footer>
