<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1477322524744-0eece9e79640?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1011&q=80);">
  <div class="container">
    <h1>Pets Never Die</h1>
    <p>100% affection 0% entretien</p>
  </div>
</div>


<div class="cards m-3">
  <div class="card-category" style="">
    <i class="fas fa-cat"></i>
  </div>

  <div class="card-category" style="">
    <i class="fas fa-dog"></i>
  </div>

  <div class="card-category" style="">
  </div>

  <div class="card-category" style="">
  </div>

  <div class="card-category" style="">
  </div>

  <div class="card-category" style="">
  </div>

  <div class="card-category" style="">
  </div>

  <div class="card-category" style="">
  </div>
</div>


<div class="cards-selection m-3">
  <div class="card-category-selection" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1150&q=80);">
    <p>Classique</p>
  </div>

  <div class="card-category-selection" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1590668468552-d87c3a011afb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80);">
    <p>Savane</p>
  </div>

  <div class="card-category-selection" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1580140404772-decde5a9cc9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80);">
    <p>Aquatique</p>
  </div>

  <div class="card-category-selection" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1511497584788-876760111969?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);">
    <p>Forêt</p>
  </div>
</div>
