.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.card-window-index-img {
  max-width: 200px;
}

#map {
    position: sticky;
    top: 5px;
    width: 100%;
    min-height: 97vh;
  }
