<div>
  <% @stuffed_animals.each do |stuffed_animal| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h2><%= stuffed_animal.name %></h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <% end %>

  <div class="carte">

  </div>
</div>
